.App {
  text-align: center;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  cursor: pointer;
}

td {
  padding: 20px;
}

#input-container,
#button-container {
  padding: 20px;
}

#table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
